<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    
    <table class="table table-stripped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                
               
            </tr>
        </thead>
        {% for emp_reg in emp_register %}
        <tr>
           
            <td>{{ emp_reg.f_name }}</td>
            <td>{{ emp_reg.l_name }}</td>
            <td>{{ emp_reg.email }}</td>
            
           
        </tr>

{% endfor %}
    </table>

    
</body>
</html>