<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <form id="searchform" action="{{ emp_register.id }}/search/" method="get">
        <input type="text" name="q" type="text"/>
        <button type="button" onclick="searchform.submit()">Search</button>
    </form>
    <table class="table table-stripped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Actions</th>
                <th><a href="/add/ {{ emp_reg.id }}" >Add</a></th>
            </tr>
        </thead>
        {% for emp_reg in emp_register %}
        <tr>
           
            <td>{{ emp_reg.f_name }}</td>
            <td>{{ emp_reg.l_name }}</td>
            <td>{{ emp_reg.email }}</td>
            
            <td>
                
               <a href="/edit/{{ emp_reg.id }}"><span class="btn btn-success">Edit</span></a>
               <a href="/delete/ {{ emp_reg.id }}" class="btn btn-danger">Delete</a>
               
            </td>

        </tr>

{% endfor %}
    </table>

    
</body>
</html>